@model CT.Sfa.MvcWebUI.Models.Account.AddToRoleViewModel
@{
    ViewBag.Title = "Add To Role";
    Layout = "~/Views/_Layout.cshtml";
}

<div class="row">
    <div class="col-md-4">
        <form asp-controller="Account" asp-action="AddToRole" method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="UserName" class="control-label"></label>
                <input asp-for="UserName" class="form-control" placeholder="User Name" />
                <span asp-validation-for="UserName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RoleName" class="control-label"></label>
                <input asp-for="RoleName" class="form-control" placeholder="RoleName" />
                <span asp-validation-for="RoleName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <button class="btn btn-success" type="submit">Approve</button>
            </div>
        </form>
    </div>
</div>
