@model CT.Sfa.MvcWebUI.Models.Account.UserUpdateViewModel
@{
    ViewBag.Title = "Register";
    Layout = "~/Views/_Layout.cshtml";
}


<div class="row">
    <div class="col-md-4">
        <form asp-controller="Account" asp-action="Update" method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="User.Id" class="control-label"></label>
                <input asp-for="User.Id" placeholder="User Id" class="form-control" />
                <span asp-validation-for="User.Id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="User.UserName" class="control-label"></label>
                <input type="password" asp-for="User.UserName" placeholder="UserName" class="form-control" />
                <span asp-validation-for="User.UserName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="User.UserFull" class="control-label"></label>
                <input asp-for="User.UserFull" placeholder="Full Name" class="form-control" />
                <span asp-validation-for="User.UserFull" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="User.Email" class="control-label"></label>
                <input asp-for="User.Email" placeholder="Email" class="form-control" />
                <span asp-validation-for="User.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="User.BirthDate" class="control-label"></label>
                <input asp-for="User.BirthDate" placeholder="BirthDate" class="form-control" />
                <span asp-validation-for="User.BirthDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="User.FirmId" class="control-label"></label>
                <input asp-for="User.FirmId" placeholder="FirmId" class="form-control" />
                <span asp-validation-for="User.FirmId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="User.DealerId" class="control-label"></label>
                <input asp-for="User.DealerId" placeholder="DealerId" class="form-control" />
                <span asp-validation-for="User.DealerId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <button class="btn btn-success" type="submit">Register</button>
            </div>
        </form>
    </div>
</div>